body{
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
}
.nav-item {
    
    margin-right:5px ;
    border-radius: 10px;
   border: none;
}
.navbar .nav-item a{
    color: rgb(46, 59, 59);
    display: inline-block;
    padding: 5px;
    border: 2px solid transparent;
    transition: transform 0.1s ease-in-out, border 0.1s ease, color 0.1s ;
}

.navbar .nav-item a:hover{
    transform: scale(1.1);
    color: #ff0000;
    border: #ff0000;
}


.hr{
    position: relative;
    top:-8px ;
}
.carousel-caption{
    position:absolute;
    bottom: 22rem;
    font-family: 'Lumanosimo', cursive;
    color: rgb(250, 0, 0);
    font-weight: 800;
}

